*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 150px;
    background-color: #101010;
    border-bottom: 1px solid gray;
}
.header-cont{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
main{
    padding: 10px 100px;
    background-color: #101010;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.movie-cont{
    width: auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
}

.box{
    width: 100%;
}

.mov-pic{
    width: 250px;
}

.profile-cont{
    width: 1150px;
}
.card{
    width: 100%;
    position: relative;
}

.back-pic{
    width: 100%;
}

.movie-info{
    display: flex;
    position: absolute;
    top: 100px;
    left: 50px;
}
.text{
    width: 600px;
    margin-left: 100px;
    padding: 30px;
    background-color: rgba(96, 90, 90, 0.374);
}

.prof-pic{
    width: 250px;
}

.cast-cont{
    display: flex;
    width: 100%;
}
swiper-container {
    width: 100%;
    height: 100%;
    margin: 0;
  }

  swiper-slide {
    text-align: center;
    font-size: 18px;
    background:  white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  swiper-slide img {
    width: 150px;
  }